<div class="auth-formbox">
  <div class="auth-left-block">
    <img src="/images/demo-admin-illustration.svg" alt="Demo Admin dashboard illustration" />
  </div>
  <div class="auth-form-block">
    <div class="auth-logo-block">
      <figure routerLink="/">
        <img src="./images/demo-admin-logo.svg" width="327" height="96" alt="Demo Admin" />
      </figure>
    </div>
    <form [formGroup]="verifyOtpForm" (ngSubmit)="onSubmitVerifyOtpFrom()">
      <h1>Verification</h1>
      <p class="login-content">A One Time Password has been sent to Your Mail id</p>
      <div class="auth-form-group">
        <div
          class="auth-formcontrol-wrapper"
          [ngClass]="{ 'auth-invalid-control': verifyOtpForm.invalid && submitted }">
          <input
            type="number"
            name="digit1"
            #digit1
            class="auth-formcontrol"
            formControlName="digit1"
            autocomplete="off"
            (keyup)="moveToNext(null, digit1, digit2, $event)"
            id="otp1"
            [readOnly]="isDisabled"
            (paste)="handlePaste($event)"
            appNoSpecialCharacters />
          <input
            type="number"
            name="digit2"
            #digit2
            class="auth-formcontrol"
            formControlName="digit2"
            autocomplete="off"
            (keyup)="moveToNext(digit1, digit2, digit3, $event)"
            id="otp2"
            [readOnly]="isDisabled"
            (paste)="handlePaste($event)"
            appNoSpecialCharacters />
          <input
            type="number"
            name="digit3"
            #digit3
            class="auth-formcontrol"
            formControlName="digit3"
            autocomplete="off"
            (keyup)="moveToNext(digit2, digit3, digit4, $event)"
            id="otp3"
            [readOnly]="isDisabled"
            (paste)="handlePaste($event)"
            appNoSpecialCharacters />
          <input
            type="number"
            name="digit4"
            #digit4
            class="auth-formcontrol"
            formControlName="digit4"
            autocomplete="off"
            (keyup)="moveToNext(digit3, digit4, null, $event)"
            id="otp4"
            [readOnly]="isDisabled"
            (paste)="handlePaste($event)"
            appNoSpecialCharacters />
        </div>
        @if (verifyOtpForm.invalid && submitted) {
          <div [@fadeAnimation] class="auth-error-message">
            <p>Please enter valid OTP</p>
          </div>
        }
      </div>
      @if (remainingTime > 0) {
        <p class="resend-text">
          Resend OTP after
          <span>{{ remainingTime }}</span>
          seconds.
        </p>
      } @else {
        <p class="resend-text">
          Don’t received the code?
          <a (click)="resendOtp()" [attr.role]="'none'">Resend</a>
        </p>
      }
      <button type="submit" [disabled]="isDisabled" class="auth-btn">Submit</button>
      <a [attr.role]="'none'" class="back-to-login" routerLink="/">Back to Login</a>
      <div class="termsprivacy-block">
        <a>Term & Service</a>
        <a>Privacy Policy</a>
      </div>
    </form>
  </div>
</div>
