<header class="breadcrumbs-area">
  @if (breadcrumbsProfile().title) {
    <hgroup class="flex items-center gap-x-4">
      @if (breadcrumbsProfile().icon) {
        <a class="back-arrow" role="none" (click)="onIconClick()">
          <svg>
            <use xlink:href="/scss/icons.svg#icon-left-arrow"></use>
          </svg>
        </a>
      }
      <h1 [innerHTML]="breadcrumbsProfile().title">
        <!-- {{ breadcrumbsProfile().title }} -->
      </h1>
      @if (showAiInfoId && infoIconTooltipData) {
        <div class="custom-tooltip">
          <a class="info-block">
            <svg>
              <use xlink:href="/scss/icons.svg#icon-info"></use>
            </svg>
          </a>
          <span class="custom-tooltip-text">
            {{ infoIconTooltipData.report_description }}
          </span>
        </div>
      }
    </hgroup>
    @if (primaryAddButton().label) {
      <div
        class="renewal-block"
        [ngClass]="{ 'renewal-block-another': primaryAddButton().icon === 'icon-notification' }">
        <span [class.icon-extra]="primaryAddButton().icon === 'icon-notification'">
          <svg>
            <use [attr.xlink:href]="'/scss/icons.svg#' + primaryAddButton().icon"></use>
          </svg>
          @if (primaryAddButton().icon === 'icon-notification') {
            <div class="cross-block">
              <svg>
                <use xlink:href="/scss/icons.svg#icon-cross-bold"></use>
              </svg>
            </div>
          }
        </span>
        <p>
          {{ primaryAddButton().label }}
        </p>
      </div>
    }
  }
</header>
