<div class="auth-formbox">
  <div class="auth-left-block">
    <img src="/images/demo-admin-illustration.svg" alt="Demo Admin dashboard illustration" />
  </div>
  <div class="auth-form-block">
    <div class="auth-logo-block">
      <figure routerLink="/">
        <img src="./images/demo-admin-logo.svg" width="327" height="96" alt="Demo Admin" />
      </figure>
    </div>

    <form [formGroup]="createPasswordForm" (ngSubmit)="onSubmitCreatePasswordForm()">
      @if (!isResetPasswordSuccess) {
        <h1>Reset Password</h1>
        <p class="login-content">Enter your credentials to access your account.</p>
        <div class="auth-form-group">
          <label for="new-password">New Password*</label>
          <div
            class="auth-formcontrol-wrapper"
            [ngClass]="{ 'auth-invalid-control': hasFormControlError('new_password') }">
            <input
              id="new-password"
              [type]="showTypeNewPassword ? 'text' : 'password'"
              class="auth-formcontrol"
              placeholder="Enter Your New Password"
              autocomplete="off"
              formControlName="new_password" />
            <a
              [attr.role]="'none'"
              class="icon-block"
              (click)="showPassword($event, 'showTypeNewPassword')">
              @if (showTypeNewPassword) {
                <svg class="icon-eye">
                  <use xlink:href="./scss/icons.svg#icon-eye-open"></use>
                </svg>
              } @else {
                <svg class="icon-eye-close">
                  <use xlink:href="./scss/icons.svg#icon-eye-close"></use>
                </svg>
              }
            </a>
          </div>
          @if (hasFormControlError('new_password')) {
            @if (formControl['new_password'].hasError('required')) {
              <div [@fadeAnimation] class="auth-error-message">
                <p>New password is required.</p>
              </div>
            }

            @if (newPasswordValidationCheck) {
              <div class="password-validation-message">
                <div class="error-item">
                  @if (!formControl['new_password'].errors?.['upperCase']) {
                    <span class="icon-tick">
                      <svg><use xlink:href="./scss/icons.svg#icon-tick"></use></svg>
                    </span>
                  } @else {
                    <span class="icon-cross">
                      <svg><use xlink:href="./scss/icons.svg#icon-cross-bold"></use></svg>
                    </span>
                  }
                  <p [class.text-valid]="!formControl['new_password'].errors?.['upperCase']">
                    At least one upper case.
                  </p>
                </div>
                <div class="error-item">
                  @if (!formControl['new_password'].errors?.['lowerCase']) {
                    <span class="icon-tick">
                      <svg><use xlink:href="./scss/icons.svg#icon-tick"></use></svg>
                    </span>
                  } @else {
                    <span class="icon-cross">
                      <svg><use xlink:href="./scss/icons.svg#icon-cross-bold"></use></svg>
                    </span>
                  }
                  <p [class.text-valid]="!formControl['new_password'].errors?.['lowerCase']">
                    At least one lower case.
                  </p>
                </div>
                <div class="error-item">
                  @if (!formControl['new_password'].errors?.['number']) {
                    <span class="icon-tick">
                      <svg><use xlink:href="./scss/icons.svg#icon-tick"></use></svg>
                    </span>
                  } @else {
                    <span class="icon-cross">
                      <svg><use xlink:href="./scss/icons.svg#icon-cross-bold"></use></svg>
                    </span>
                  }
                  <p [class.text-valid]="!formControl['new_password'].errors?.['number']">
                    At least one number.
                  </p>
                </div>
                <div class="error-item">
                  @if (!formControl['new_password'].errors?.['specialCharacter']) {
                    <span class="icon-tick">
                      <svg><use xlink:href="./scss/icons.svg#icon-tick"></use></svg>
                    </span>
                  } @else {
                    <span class="icon-cross">
                      <svg><use xlink:href="./scss/icons.svg#icon-cross-bold"></use></svg>
                    </span>
                  }
                  <p [class.text-valid]="!formControl['new_password'].errors?.['specialCharacter']">
                    At least one special character.
                  </p>
                </div>
                <div class="error-item">
                  @if (!formControl['new_password'].errors?.['length']) {
                    <span class="icon-tick">
                      <svg><use xlink:href="./scss/icons.svg#icon-tick"></use></svg>
                    </span>
                  } @else {
                    <span class="icon-cross">
                      <svg><use xlink:href="./scss/icons.svg#icon-cross-bold"></use></svg>
                    </span>
                  }
                  <p [class.text-valid]="!formControl['new_password'].errors?.['length']">
                    Length should be 8-20.
                  </p>
                </div>
              </div>
            }
          }
        </div>
        <div class="auth-form-group">
          <label for="confirm-password">Confirm Password*</label>
          <div
            class="auth-formcontrol-wrapper"
            [ngClass]="{ 'auth-invalid-control': hasFormControlError('confirm_password') }">
            <input
              id="confirm-password"
              [type]="showTypeConfirmPassword ? 'text' : 'password'"
              class="auth-formcontrol"
              placeholder="Enter Your confirm password"
              autocomplete="off"
              formControlName="confirm_password" />
            <a
              [attr.role]="'none'"
              class="icon-block"
              (click)="showPassword($event, 'showTypeConfirmPassword')">
              @if (showTypeConfirmPassword) {
                <svg class="icon-eye">
                  <use xlink:href="./scss/icons.svg#icon-eye-open"></use>
                </svg>
              } @else {
                <svg class="icon-eye-close">
                  <use xlink:href="./scss/icons.svg#icon-eye-close"></use>
                </svg>
              }
            </a>
          </div>
          @if (hasFormControlError('confirm_password')) {
            @if (formControl['confirm_password'].hasError('required')) {
              <div [@fadeAnimation] class="auth-error-message">
                <p>Confirm password is required.</p>
              </div>
            } @else if (formControl['confirm_password'].hasError('mustMatch')) {
              <div [@fadeAnimation] class="auth-error-message">
                <p>New password and confirm password must match.</p>
              </div>
            }
          }
        </div>
        <button type="submit" class="auth-btn">Reset Password</button>
        <a [attr.role]="'none'" class="back-to-login" routerLink="/">Back to Login</a>
        <div class="termsprivacy-block">
          <a>Term & Service</a>
          <a>Privacy Policy</a>
        </div>
      } @else {
        <div class="change-password-block">
          <figure class="password-gif-block">
            <img src="/images/success-otp-image.svg" alt="password-icon" />
          </figure>
          <h1>Congratulations!</h1>
          <p class="login-content">Your password has been reset successfully.</p>
          <button class="auth-btn" routerLink="/">Login</button>

          <div class="termsprivacy-block">
            <a>Term & Service</a>
            <a>Privacy Policy</a>
          </div>
        </div>
      }
    </form>
  </div>
</div>
