/* 
 * * Global Variables
 *
 * @designer: Somnath Sil
 */

$globalSearchShadow: 0px 10px 10px 0px rgba(207, 207, 217, 0.35);
$authInvalidShadow: 0px 0px 11px 0px #ffaeb1b2;
$dropShadow: 0px 0px 30px 0px #0000001a;
$usermanagementShadow: 0px 0px 7px 0px #0000001a;
$customfilterselectShadow: 0px 10px 10px 0px #cfcfd959;
$customFileUploadlabelShadow: 0px 10px 10px 0px rgba(207, 207, 217, 0.35);
$customFileUploadboxShadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.05);
