@use 'mixins' as *;

$color-primary1: #d4a969;
$color-primary2: #c2a686;
$color-primary3: #03a6a1;
$color-primary4: #6eadab;
$color-primary5: #c7d8d7;

.container {
  @apply mx-auto;
  @apply h-[90vh];
  @include flex-all(flex, center, center);
  @apply flex-col;
}

.tittle,
.subtitle {
  @apply mb-10;
}
.tittle {
  h2 {
    @apply text-2.5xl;
    @apply leading-none;
    // @apply text-black-100;
    @apply font-primary;
    @apply uppercase;
  }
}
.subtitle {
  h3 {
    @apply text-base;
    @apply leading-none;
    // @apply text-black-100;
    @apply font-primary;
  }
}
.square-container {
  @apply flex;
}

.square {
  @apply mx-1;
  @apply w-8;
  @apply h-8;
  @apply rounded-sm;
  animation: rotating 2.5s ease infinite;
}

.square1 {
  background: $color-primary1;
  animation-delay: 0.2s;
}
.square2 {
  background: $color-primary2;
  animation-delay: 0.4s;
}
.square3 {
  background: $color-primary3;
  animation-delay: 0.6s;
}
.square4 {
  background: $color-primary4;
  animation-delay: 0.8s;
}
.square5 {
  background: $color-primary5;
  animation-delay: 1s;
}

@keyframes rotating {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(0.6);
  }
  100% {
    transform: rotate(90deg) scale(1);
  }
}

footer {
  @apply mx-auto;
  @apply flex-col;
  @apply mb-2.5;
  color: $color-primary4;
  @include flex-all(flex, center, center);
}

footer a {
  color: $color-primary1;
}
// checkout
.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #eef2ff, #f0fdf4);
  font-family: 'Poppins', sans-serif;
}

.payment-card {
  background: #ffffff;
  width: 380px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease;
}

.payment-card:hover {
  transform: translateY(-5px);
}

h2 {
  color: #1e293b;
  margin-bottom: 1rem;
  font-weight: 600;
}

.summary {
  background: #f8fafc;
  padding: 1.2rem;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 1.8rem;
  border: 1px solid #e2e8f0;
}

.summary h3 {
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
  color: #334155;
}

.summary p {
  margin: 0.4rem 0;
  color: #475569;
  font-size: 1.95rem;
}

// .pay-btn {
//   width: 100%;
//   background: #16a34a;
//   color: white;
//   padding: 0.9rem;
//   border: none;
//   border-radius: 10px;
//   font-size: 1.95rem;
//   font-weight: 600;
//   cursor: pointer;
//   transition:
//     background 0.3s ease,
//     transform 0.2s ease;
// }

// .pay-btn:hover {
//   background: #15803d;
//   transform: scale(1.05);
// }

// .pay-btn:active {
//   transform: scale(0.98);
// }

/* Order Summary Styles */
.order-wrapper {
  @apply max-w-[1500px] mx-auto px-8;
}
.order-header {
  @apply py-10;
  @include flex-all(flex, flex-end, space-between);
  .logo {
    @apply w-[126px] cursor-pointer;
    img {
      @apply w-full;
    }
  }
  h1 {
    // @apply text-black-600 text-[32px] leading-tight font-semibold font-primary capitalize relative;
    &:before {
      // @apply empty-content absolute bottom-0 right-0 left-0 h-px w-[96%] mx-auto bg-black-600;
    }
  }
}
.details-box {
  @apply border border-[#E5E7EB] rounded-lg pt-10 px-12 pb-12 mb-[30px];
  h2 {
    // @apply text-black-600 text-2xl leading-tight font-semibold font-primary tracking-[-0.48px] mb-7;
  }
  .property-area {
    @apply grid grid-cols-[28%_28%_28%_16%] border-t border-[#E5E7EB] pt-8;
    span {
      // @apply text-black-500 text-md leading-none font-medium font-primary;
    }
    p {
      // @apply text-black-100 text-base leading-none font-semibold font-primary mt-3.5;
    }
  }
}
.subscription-area {
  @apply grid grid-cols-2 gap-x-10;
}
.scrol-area {
  @apply overflow-y-auto max-h-[625px] pr-7;
  &::-webkit-scrollbar {
    @apply w-[15px];
  }
  &::-webkit-scrollbar-track {
    @apply rounded-xl bg-gray-300;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-xl;
  }
}
.plan-box {
  @apply border border-[#E5E7EB] pt-10 pl-12 pr-[18px] pb-5;
  h3 {
    // @apply text-black-500 text-1xl leading-tight font-bold font-primary mb-7 pb-4 mr-7;
    @apply border-b border-[#E5E7EB];
  }
  .tagline {
    @apply bg-primary rounded-sm py-1 px-2 mb-6;
    @apply text-white text-md leading-none font-medium font-primary inline-block;
  }
  .plan-block {
    @include flex-all(flex, flex-start, space-between);
    @apply gap-x-8 mb-8;
  }
  .plan-item {
    @apply w-3/5;
    &:nth-of-type(2) {
      @apply w-2/5;
    }
    span {
      // @apply text-black-500 text-md leading-none font-medium font-primary;
    }
    p {
      // @apply text-black-100 text-base leading-none font-semibold font-primary mt-3;
    }
  }
  .addons-area {
    @apply mt-11;
    h4 {
      // @apply text-black-500 text-lg leading-none font-bold font-primary pb-1.5 relative inline-block;
      @apply mb-5 #{!important};
      &:before {
        // @apply empty-content absolute bottom-0 right-0 left-0 h-px w-full bg-black-600;
      }
    }
  }
  .addons-block {
    @apply pt-7 pb-7 px-5;
    &:nth-of-type(odd) {
      @apply bg-[#FBFBFB] border-t border-b border-[#E5E7EB];
    }
    .addons-row {
      @include flex-all(flex, flex-start, space-between);
      @apply gap-x-8;
      &:not(:last-of-type) {
        @apply mb-[30px];
      }
    }
    .addons-col {
      @apply w-3/5;
      &:nth-of-type(2) {
        @apply w-2/5;
      }
      span {
        // @apply text-black-500 text-md leading-none font-medium font-primary;
      }
      p {
        // @apply text-black-100 text-base leading-none font-semibold font-primary mt-3;
      }
    }
  }
}
.summary-area {
  @apply border-t border-[#E5E7EB] pt-9;
  .summary-item {
    @include flex-all(flex, flex-start, space-between);
    @apply gap-x-8 mb-4 pb-4 border-b border-gray-100;
    &:nth-last-child {
      @apply border-b-0 pb-0;
    }
    p {
      // @apply text-black-500 text-base leading-none font-medium font-primary;
    }
    span {
      // @apply text-black-400 text-md leading-none font-medium font-primary block text-right;
    }
  }
  .total-item {
    @include flex-all(flex, flex-start, space-between);
    // @apply py-4 border-y-2 border-black-500 gap-x-8;
    p {
      // @apply text-black-100 text-base leading-none font-semibold font-primary;
    }
  }
}
.total-amount-area {
  @include flex-all(flex, center, flex-end);
  @apply pr-12 pb-10;
  .amount-block {
    @apply text-right relative pr-5 mr-5;
    &:before {
      @apply empty-content absolute top-0 bottom-0 right-0 h-full w-px bg-[#E5E7EB];
    }
    span {
      // @apply text-black-500 text-base leading-none font-bold font-primary;
    }
    p {
      @apply text-secondary text-[30px] leading-none font-semibold font-primary mt-1;
    }
  }
  button {
    @apply h-[50px] w-[240px] bg-[#007AD9] hover:bg-[#056BBA] rounded-[10px] text-white text-lg leading-none font-medium;
    @include transition;
  }
}

/* For Single Plan */
.subscription-area.subscription-single {
  @apply grid-cols-1;
  .tagline,
  .addons-area h4 {
    @apply block w-fit;
  }
  .plan-box {
    .plan-block,
    .addons-row {
      @apply inline-block align-top w-[44%] pr-4;
      .plan-item,
      .addons-col {
        @apply inline-block align-top w-1/2;
      }
    }
    .plan-block {
      &:nth-of-type(4) {
        @apply w-[12%];
        .plan-item {
          @apply w-full;
        }
      }
    }
    .addons-row {
      &:nth-of-type(3) {
        @apply w-[12%];
        .addons-col {
          @apply w-full;
        }
      }
    }
  }
}

/* Responsive */
@media (width <= 1199px) {
  /* For Single Plan */
  .subscription-area.subscription-single {
    .plan-box {
      .plan-block,
      .addons-row {
        @apply w-full pr-0;
      }
      .plan-block {
        &:nth-of-type(4) {
          @apply w-full;
        }
      }
      .addons-row {
        &:nth-of-type(3) {
          @apply w-full;
        }
      }
    }
  }
}

@media (width <= 991px) {
  .subscription-area {
    @apply grid-cols-1;
  }
  .plan-box {
    @apply mb-5;
  }
  .scrol-area {
    @apply max-h-fit overflow-y-visible;
  }
}

@media (width <= 767px) {
  .details-box {
    @apply pt-7 pb-8 px-7 mb-6;
    h2 {
      @apply mb-4;
    }
    .property-area {
      @apply pt-6 grid-cols-[25%_25%_25%_25%] gap-x-2;
    }
  }
  .plan-box {
    @apply pt-8 px-7 pb-[30px];
    h3 {
      @apply mr-0;
    }
  }
  .scrol-area {
    @apply pr-0;
  }
}

@media (width <= 575px) {
  .order-wrapper {
    @apply px-5;
  }
  .order-header {
    @apply pt-5 pb-6 flex-col items-center justify-center;
    .logo {
      @apply w-24 mb-5;
    }
    h1 {
      @apply text-2.5xl;
    }
  }
  .details-box {
    @apply p-5 pb-1.5 mb-5;
    h2 {
      @apply text-xl mb-2.5;
    }
    .property-area {
      @apply grid-cols-1 pt-5;
      .property-item {
        @apply mb-4;
      }
      p {
        @apply mt-2;
      }
    }
  }
  .plan-box {
    @apply px-4 pt-5 pb-2.5;
    h3 {
      @apply mb-5 pb-2 text-xl;
    }
    .plan-block {
      @apply flex-col mb-0;
    }
    .plan-item {
      @apply w-full #{!important};
      @apply mb-4;
      p {
        @apply mt-2 leading-[1.2];
      }
    }
    .tagline {
      @apply mb-5;
    }
    .addons-area {
      @apply mt-6;
    }
    .addons-block {
      @apply pt-5 pb-1 px-3.5;
      .addons-row {
        @apply flex-col;
        &:not(:last-of-type) {
          @apply mb-3;
        }
      }
      .addons-col {
        @apply mb-3.5;
        @apply w-full #{!important};
        &:nth-of-type(2) {
          @apply w-full;
        }
        p {
          @apply mt-2;
        }
      }
    }
  }
  .summary-area {
    .total-item {
      @apply pb-4;
    }
  }

  .total-amount-area {
    @apply pr-0 pb-5 flex-col items-end;
    .amount-block {
      @apply pr-0 mr-0;
      &:before {
        @apply w-0;
      }
      span {
        @apply text-md;
      }
      p {
        @apply text-2xl;
      }
    }
    button {
      @apply w-full mt-5 h-11 text-base;
    }
  }
}

@media (width <= 450px) {
  .summary-area {
    @apply pt-6;
    .summary-item {
      span:first-of-type {
        @apply mb-2;
      }
      p {
        @apply text-sm;
      }
      span {
        @apply text-xs;
      }
    }
  }
}
