<div class="main-sidebar sidebar-light sidebar-fixed sidebar-expanded">
  <div class="sidebar-header">
    <div class="sidebar-brand" routerLink="/">
      <img
        src="./images/demo-admin-logo.svg"
        width="174"
        height="51"
        alt="Demo Admin"
        decoding="async"
        loading="lazy" />
    </div>
    <a role="none" class="toggle-button" (click)="toggleSidebar($event)">
      <svg>
        <use xlink:href="./scss/icons.svg#icon-togglebar"></use>
      </svg>
    </a>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-menu">
      <nav>
        <ul class="sidebar-nav sidebar-nav-pills">
          @for (menu of menus; track i; let i = $index) {
            @if (!menu.ids.length) {
              <li
                class="nav-list"
                role="none"
                [class.submenu-expanded]="menu.isSubMenuOpen"
                [ngClass]="{
                  active: menu.isSubMenuOpen || menu.isActive,
                  'dropdown-open': menu.subMenus.length > 0,
                }"
                (mouseenter)="showOverlay($event)"
                accessControl
                [moduleId]="menu.id">
                <ng-container
                  *ngTemplateOutlet="menuTemplate; context: { $implicit: menu }"></ng-container>
              </li>
            } @else {
              <li
                class="nav-list"
                role="none"
                [class.submenu-expanded]="menu.isSubMenuOpen"
                [ngClass]="{
                  active: menu.isSubMenuOpen || menu.isActive,
                  'dropdown-open': menu.subMenus.length > 0,
                }"
                (mouseenter)="showOverlay($event)"
                accessControl
                [actionIds]="menu.ids">
                <ng-container
                  *ngTemplateOutlet="menuTemplate; context: { $implicit: menu }"></ng-container>
              </li>
            }
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
<ng-template #menuTemplate let-menu>
  <!-- sub menu container -->
  @if (menu.subMenus.length > 0) {
    <a role="none" class="nav-list-item" (click)="toggleSubMenu(menu.id, $event)">
      <span>
        <svg class="icon icon-menu">
          <use [attr.href]="menu.icon | svgSprite"></use>
        </svg>
      </span>
      <p>{{ menu.label | titlecase }}</p>
      @if (menu.subMenus.length > 0) {
        <svg class="icon toggle-icon" [ngClass]="{ '!rotate-0': menu.isSubMenuOpen }">
          <use [attr.href]="'icon-menu-toggle' | svgSprite"></use>
        </svg>
      }
    </a>
  } @else {
    <a
      role="none"
      (click)="routeToLink(menu.URl, menu.isSubMenuOpen); toggleSubMenu(menu.id, $event)"
      class="nav-list-item nav-list-item-single">
      <span>
        <svg class="icon icon-menu">
          <use [attr.href]="menu.icon | svgSprite"></use>
        </svg>
      </span>
      <p>{{ menu.label | titlecase }}</p>
    </a>
  }
  @if (menu.isSubMenuOpen && menu.subMenus.length > 0) {
    <ul [@slideInOut] class="submenu-treeview">
      @for (submenu of menu.subMenus; track i; let i = $index) {
        <li
          class="submenu-list"
          [ngClass]="submenu.isActive === true ? 'active' : ''"
          [attr.role]="'none'"
          (click)="routeToLink(submenu.URl, submenu.isActive)"
          accessControl
          [submoduleId]="submenu.id">
          <a class="submenu-item">
            <p>{{ submenu.label }}</p>
          </a>
        </li>
      }
    </ul>
  }
  @if (menu.subMenus) {
    <div class="overlay-block" [style.top.px]="overlayTop">
      <h4>{{ menu.label }}</h4>
      @if (menu.subMenus.length) {
        <ul class="overlay-parent-menu">
          @for (submenu of menu.subMenus; track i; let i = $index) {
            <li>
              <a
                [attr.role]="'none'"
                (click)="routeToLink(submenu.URl, submenu.isActive)"
                class="submenu-item"
                accessControl
                [submoduleId]="submenu.id">
                {{ submenu.label }}
              </a>
            </li>
          }
        </ul>
      }
    </div>
  }
</ng-template>
