<div class="main-header navbar navbar-expand">
  <header>
    <!-- <span>
      <svg>
        <use xlink:href="/scss/icons.svg#icon-left-arrow"></use>
      </svg>
    </span>
    <h1>Audit Template</h1> -->
  </header>
  <div class="profile-right-block">
    @if (syncStatus !== 'idle') {
      <div class="sync-status-indicator" [ngClass]="'sync-' + syncStatus">
        @if (syncStatus === 'syncing') {
          <span class="sync-spinner"></span>
        }
        <span class="sync-text">
          @if (syncStatus === 'synced') {
            <svg>
              <use xlink:href="./scss/icons.svg#icon-tick"></use>
            </svg>
          }
          {{ syncStatus === 'syncing' ? 'Syncing' : 'Synced' }}
        </span>
      </div>
    }
    <div class="profile-block">
      <figure class="profile-image">
        <p>{{ profileImage }}</p>
      </figure>
      <p>
        {{ loginDetails?.name }}
        <span>{{ loginDetails?.rolename }}</span>
      </p>
    </div>
    <a class="logout-block" [attr.role]="'none'" (click)="onLogout($event)">
      <svg>
        <use xlink:href="/scss/icons.svg#icon-logout"></use>
      </svg>
    </a>
  </div>
</div>
