<div class="auth-formbox">
  <div class="auth-left-block">
    <img src="/images/demo-admin-illustration.svg" alt="Demo Admin dashboard illustration" />
  </div>
  <div class="auth-form-block">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPasswordForm()">
      <div class="auth-logo-block">
        <figure routerLink="/">
          <img src="./images/demo-admin-logo.svg" width="327" height="96" alt="Demo Admin" />
        </figure>
      </div>
      <h1 class="!font-medium">Forgot Password</h1>
      <p class="login-content">Enter your Username to get the One Time Password</p>
      <div class="auth-form-group">
        <label for="username">Username</label>
        <div
          class="auth-formcontrol-wrapper"
          [ngClass]="{ 'auth-invalid-control': hasFormControlError('username') }">
          <input
            id="username"
            type="username"
            class="auth-formcontrol"
            placeholder="Enter your username"
            autocomplete="off"
            formControlName="username" />
        </div>
        @if (hasFormControlError('username')) {
          @if (formControl['username'].hasError('required')) {
            <div [@fadeAnimation] class="auth-error-message">
              <p>Please enter your username</p>
            </div>
          }
          @if (formControl['username'].hasError('pattern')) {
            <div [@fadeAnimation] class="auth-error-message">
              <p>Please enter a valid username</p>
            </div>
          }
        }
      </div>
      <button type="submit" class="auth-btn">Submit</button>
      <a [attr.role]="'none'" class="back-to-login" routerLink="/">Back to Login</a>
      <div class="termsprivacy-block">
        <a>Term & Service</a>
        <a>Privacy Policy</a>
      </div>
    </form>
    <!-- <p class="copyright-para">
      &copy; {{ currentYear() }} Demo Admin. All Rights Reserved.
    </p> -->
  </div>
</div>
